<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yune's Portfolio</title>
    <link rel="stylesheet" href="/css/home/sytle.css">
</head>

<body>
    <header>
        <h1 id="title">
            <img id="title_img" alt="타이틀사진" src="/img/profile.jpeg">
            Yune's Portfolio
        </h1>
    </header>
    <nav>
        <a href="#phase1">Profile</a>
        <a href="#phase2"> / Values</a>
        <a href="#phase3"> / Projects</a>
        <a href="./web3.html"> / Register</a>
    </nav>


    <section id="phase1">
        <h1 id="phase1_sub">Profile</h1>
        <img id="profile_img" src="/img/profile3.jpg" alt="프로필사진">
        <section class="card" id="aboutme">
            <p class="card_subject">About me</p>
            <article class="content">
                <p>김윤회</p>
                <p>1998.11.05</p>
                <p>공주대학교 컴퓨터공학과</p>
            </article>
        </section>

        <section class="card" id="channel">
            <p class="card_subject">Channel</p>
            <article class="content">
                <span>
                    <img class="icon" alt="티스토리아이콘" src="/img/tistory.png">
                    <a href="https://bpeeper.tistory.com/">https://bpeeper.tistory.com/</a>
                </span>
                <span>
                    <img class="icon" alt="깃허브아이콘" src="/img/github.png">
                    <a href="https://www.instagram.com/511.98hz/">https://www.instagram.com/511.98hz/</a>
                </span>
            </article>
        </section>

        <section class="card">
            <p class="card_subject">Usable Languege</p>
            <article class="content" id="usablelang">
                <section class="languege">
                    <img class="icon" alt="C++icon" src="/img/ISO_C++_Logo.svg.png">
                    <p>C++</p>
                </section>
                <section class="languege">
                    <img class="icon" alt="JAVAicon" src="/img/ISO_JAVA_Logo.svg">
                    <p>JAVA</p>
                </section>
                <section class="languege">
                    <img class="icon" alt="Swifticon" src="/img/swift.png">
                    <p>Swift</p>
                </section>
                <section class="languege">
                    <img class="icon" alt="NODEicon" src="/img/nodejs.png">
                    <p>NODE.js</p>
                </section>
            </article>
        </section>
    </section>

    <section id="phase2">
        <h1 class="phase_sub">Values</h1>
            <article class="phase2_content">
                <img class="phase2_img" alt="관련사진" src="/img/section1.png">
                <ul>
                    <h1>컴퓨터공학 진학 동기</h1>
                    <li>유년 시절 초등학교에서 호기심왕 상 을 받을 정도로 호기심이 많았음 </li>
                    <li>이웃집 형의 게임 개발 과정을 우연히 목격으로 인한 호기심이 발생함</li>
                    <li>중.고등학교를 거치며 학교 정보실에서 프로그래밍 관련 정보를 찾아보기 시작함</li>
                    <li>프로그래밍의 높은 자유도와 끝없는 시도를 특별한 제약 없이 가능함에 매력을 느낌</li>
                    <li>상기의 과정을 통해 프로그래머의 꿈을 가지게 되었음</li>
                    <li>대학 진학 후 학과의 강의를 통해 식견을 넓히고 꿈을 실현하기 위한 개인적 실습을 진행중</li>
                </ul>
            </article>

            <article class="phase2_content">
                <img class="phase2_img" alt="관련사진" src="/img/section2.png">
                <ul>
                    <h1>웹프로그래밍 수강 목표</h1>
                    <li>네트워킹을 이용한 여러 단말에서 실행되는 프로그램을 코딩할 수 있는 능력 달성</li>
                    <li>이를 위한 이론적 지식과 실질적인 구현 능력을 갖추는 것을 목표</li>
                    <li>복수의 학우와 함께 개발하는 협업을 통해 식견을 넓힘</li>
                    <li>프로젝트 개발과정 분할, 의견 교환 및 조정, 여러 시각의 피드백 등의 경험을 기대중 </li>
                </ul>
            </article>

            <article class="phase2_content">
                <img class="phase2_img" alt="관련사진" src="/img/section3.png">
                <ul>
                    <h1>취미</h1>
                    <li>사진은 인생의 즐겁거나 행복한 순간을 상기할 수 있도록 도움을 줌</li>
                    <li>그러한 사진을 통해 군 복무를 진행하며 겪은 어려움을 이겨냄</li>
                    <li>전역 후 상기 경험으로 일상을 사진으로 남기던 것이 취미가 됨</li>
                    <li>현재는 당일 찍은 사진을 보는 것이 하루의 마무리일 정도로 열정이 깊음</li>
                </ul>
            </article>


    </section>


    <section id="phase3">
            <h1 class="phase_sub">Projects</h1>
            <section id="projects_contens" class="big_card">
                <h2 id="spaceRecord_title">공간 기록</h2>
                <h3 id="spaceRecord_subtitle"> - 개인형 공간기반 기록 앱 서비스</h3>
                <p class="spaceRecord_text">개발기간 : 2021.09.~2021.11(2개월)</p>
                <p class="spaceRecord_text">플랫폼 : IOS</p>
                <p class="spaceRecord_text">개발인원 : 1명(단독개발)</p>
                <h3 id="spaceRecord_title">개발환경</h3>
                <p class="spaceRecord_text">언어 : Swift</p>
                <p class="spaceRecord_text">서버 : 싱글 어플리케이션</p>
                <p class="spaceRecord_text">사용 프레임워크 : CoreData, CocoaPod</p>
            </section>
    </section>

</body>

</html>